@charset "utf-8";

import { MultiStepperModule } from '@softheon/ng-workshop';
@NgModule({
    ...
    imports: [MultiStepperModule]
    ...
})
export class MyAppModule { }

leftside
{
display:inline;
}

leftside
{
position:absolute;
left:0%;

}

rightside{
position:absolute;
right:5%;
}

#picture {
      margin: 15px;
      width: 250px;
      height: 250px;
      border: 5px dashed gray;
      border-radius: 8px;
      background: lightyellow;
      background-size: 100%;
      background-repeat: no-repeat;
      text-align: center;
      }
      
    
      
      
      
      
      
      
